{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/view.css'%}" rel="stylesheet">
       <title>View All Ride That You Can Join</title>
   </head>
  <body>
    <div class="background">
			<div class="overlay box">
    <h1 class="text-white">These Are Available Rides That You Can Join</h1>
		{% if messages %}
		{% for message in messages %}
				<div id="messages" class="alert alert-info">{{ message }}</div>
		{% endfor %}
		{% endif %}

     {% for ride in all_rec %}
     <div class="form-group">
     {% if ride.arrival_time <= latest and ride.arrival_time >= earliest and ride.owner != user and user not in ride.ride_group.companions.all%}
     <table style="width:100%" class="table table-custom">
       <tr>
	 <th>Owner Name</th>
	 <th>Email</th>
	 <th>Destination</th>
	 <th>Arrival Time</th>
	 <th>Owner Party Passengers</th>
	 <th>Total Passengers</th>
	 {% comment %} <th>Shared or Not</th> {% endcomment %}
	 <th>Special Requests</th>
	 <th>Ride Status</th>

	 {% if ride.ride_status != 'OPEN' %}
   <th>Driver</th>
	 <th>Vehcile Type</th>
	 <th>License Plate</th>
	 {% endif %}
       </tr>
       <tr>
	 <td>{{ride.owner.username}}</td>
	 <td>{{ride.owner.email}}</td>
	 <td>{{ride.destination}}</td>
	 <td>{{ride.arrival_time}}</td>
	 <td>{{ride.owner_passenger_num}}</td>
	 <td>{{ride.ride_group.total_group_num}}</td>
	 {% comment %} <td>{{ride.shared}}</td> {% endcomment %}
	 <td>{{ride.extra_request}}</td>
	 <td>{{ride.ride_status}}</td>
	 {% if ride.ride_status != 'OPEN' %}
   <td>{{ride.driver.username}}</td>
	 <td>{{ride.driver.vehicle_type}}</td>
	 <td>{{ride.driver.plate_num}}</td>
	 {% endif %}
       </tr>
     </table>

        <a 
        href="{% url 'base:join_ride' id=user.id ride_id=ride.id share_passenger_num=passenger_num%}" class = "text-white"
        >Join This Ride</a>

     {%endif%}
      </div>
     {% endfor %}

        
   
              <a href="{% url 'base:request_join_ride' user.id %}" class = "text-white">Edit my Filter</a>

              <a href="{% url 'base:index' user.id %}" class = "text-white">Return to Index</a>
    </div>
    </div>
   </body>
</html>