{%load static%}
<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
       <link href="{% static 'css/register.css'%}" rel="stylesheet">
       <title>Edit My Ride</title>
   </head>
   <body>
    <div class="background">
      <div class="overlay box">
          <h1 class="title">Edit My Ride</h1>
    {% if messages %}
    {% for message in messages %}
        <div id="messages" class="alert alert-info">{{ message }}</div>
    {% endfor %}
    {% endif %}

    {%if ride.owner_passenger_num == ride.ride_group.total_group_num%}

     <form actio = "" method = "post">
       {% csrf_token %}

       <table>
        <div class="form-group">
	 {{form.as_table}}
  </div>
	 </table>
     <input type="submit" value="Save" class="btn btn-custom">
     </form>
     {%else%}

     <p>
      This ride is shared by other user. Unable to edit.
     </p>

     {%endif%}


     <p><a href="{% url 'base:index' user.id %}" class="text-white">Cancel</a></p>


    </div>
  </div>
  </body>
</html>