{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/register.css'%}" rel="stylesheet">
        <title>Ride App</title>
    </head>
    <body>
        <div class="background">
            <div class="overlay box">
        
        {% if messages %}
        {% for message in messages %}
            <div id="messages" class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <h2 class="title">Welcome to service,{{cur_user.username}}</h2>


        {% comment %} <button type="button"><a {% comment %} href="{% url 'edituserinfo' driver.user.id %}">Edit your User Information</a></button> {% endcomment %}
        {% comment %} {%if cur_user.user_cata == "Passenger"%}
        <p>
            <a 
            href="{% url 'base:edit_profile' cur_user.id%}"
            class="text-white">Edit User Info</a>
        </p>

        {%endif%}

        <p>
            <a href="{% url 'base:request_join_ride' cur_user.id %}" class="text-white">Join an Existing Ride !</a>
        </p> {% endcomment %}

        <div class="form-group">
        <ul>
            {% comment %} <li>First Name:{{driver.user.first_name}} </li>
            <li>Last Name: {{driver.user.last_name}} </li> {% endcomment %}
            <li>email: {{cur_user.email}}</li>
            <li>username: {{cur_user.username}}</li>
            <li>phone_number: {{cur_user.phone_num}}</li>
            {% comment %} <li>User ID: {{driver.user.id}}</li> {% endcomment %}

        </ul>
        </div>

        {%if cur_user.user_cata == "Passenger"%}
        <h3 class="text-white">Driver Information: You are not a driver</h3>

        {% comment %} {%if cur_user.user_cata == "Passenger"%} {% endcomment %}
        <p>
            <a 
            href="{% url 'base:edit_profile' cur_user.id%}"
            class="text-white">Edit User Info</a>
        </p>

        {% comment %} {%endif%} {% endcomment %}

        <p>
            <a href="{% url 'base:request_join_ride' cur_user.id %}" class="text-white">Join Ride</a>
        </p>

        <p>
            <a 
            href="{% url  'base:register_as_driver' cur_user.id %}"
            class="text-white">Register as driver</a>
        </p>



        <p>
            <a 
            href="{% url 'base:request_ride' cur_user.id%}"
            class="text-white">Request Ride</a>
        </p>


        <p>
            <a 
            href="{% url 'base:view_my_ride' cur_user.id%}"
            class="text-white">View My Owned Ride</a>
        </p>

	
        <p>
            <a 
            href="{% url 'base:view_joined_ride' cur_user.id%}"
            class="text-white">View My Joined Ride</a>
        </p>
        {%endif%}


        {%if cur_user.user_cata == "Driver"%}
        
        <h3 class="text-white">Driver Information: You are a driver</h3>





		
    <div class="form-group">
        <ul>
            <li>vehicle type: {{cur_user.vehicle_type}}</li>
            <li>license_plate_number: {{cur_user.license_num}}</li>
            <li>max_number_passengers: {{cur_user.max_passenger}}</li>
            {% comment %} <li>special_request: {{cur_user.special_request}}</li> {% endcomment %}
        </ul>
    </div>

    <p>
        <a 
        href="{% url 'base:edit_profile' cur_user.id%}"
        class="text-white">Edit Driver Info</a>

    </p>
    <p>
        <a href="{% url 'base:request_join_ride' cur_user.id %}" class="text-white">Join Ride</a>
    </p>

    <p>
        <a 
        href="{% url 'base:view_open_ride' cur_user.id %}"
        class="text-white">Take Driver Order</a>
    </p>

{% comment %} 
	<p>
            <a href="{% url 'base:logout' %}" class="text-white">Click here to logout!</a>
    </p> {% endcomment %}

        <p>
            <a 
            href="{% url 'base:request_ride' cur_user.id%}"
            class="text-white">Request Ride</a>
        </p>

	
	<p>
            <a 
            href="{% url 'base:view_my_ride' cur_user.id%}"
            class="text-white">View Owned Ride</a>
    </p>

	
	<p>
            <a 
            href="{% url 'base:view_joined_ride' cur_user.id %}"
            class="text-white">View Joined Ride</a>
    </p>

	
	<p>
            <a 
            href="{% url 'base:view_taken_ride' cur_user.id %}"
            class="text-white">View Drive Ride</a>
    </p>


    <p>
            <a 
            href="{% url 'base:view_completed_ride' cur_user.id %}"
            class="text-white">View Completed Ride</a>
    </p>
	{%endif%}

    <p>
        <a href="{% url 'base:logout' %}" class="text-white">Click here to logout!</a>
    </p>
</div>
</div>
    </body>
</html>