{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/utils.css' %}" rel="stylesheet">
</head>
<body>

    <div class="background">
        <div class="overlay">
            <div class="title">Connecting the world</div>
            <div class="loading-text">Loading...</div>
  
    {% if user.is_authenticated %}
        <a class="btn btn-outline-light" style=" width: 200px; height: auto; margin-left: 44%; margin-top: 30px;"
           href=" {% url 'base:index' id=user.id%}" 
           role="button">Start a ride!</a >
    {% else %}
        <a class="btn btn-outline-light" style=" width: 200px; height: auto; margin-left: 44%; margin-top: 30px;"
           href="{% url 'base:login' %}" 
           role="button">Start a ride!</a >
    {% endif %}
</div>
</body>
</html>