{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/register.css'%}" rel="stylesheet">
        <title>Ride Details</title>
    </head>
    <body>
        <div class="background">
            <div class="overlay box">
        <h1 class="title">Details for ride: {{ride.id}}</h1>

        {% if messages %}
        {% for message in messages %}
            <div id="messages" class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <div class="form-group">
        <ul>
            <li>Owner: {{ride.owner.username}}</li>
            <li>Destination: {{ride.destination}}</li>
            <li>Arrival Time: {{ride.arrival_time}}</li>
            <li>Status: {{ride.ride_status}}</li>
            <li>User Chosen Vehcile Type: {{ride.vehicle_type}}</li>
            <li>Is Shared: {{ride.shared}}</li>
            {%if ride.shared%}
            <li>Number of All Passengers: {{ride.ride_group.total_group_num}}</li>
            <li>Owner Group: {{ride.owner_passenger_num}} people</li>
            {% for rec in records %}
            <li>Sharer Group: {{rec.sharer}} with {{rec.share_num}} people</li>
            {% endfor %}
            {%else%}
            <li>Number of Passengers: {{ride.owner_passenger_num}}</li>
            {%endif%}

            <li>Extra Request: {{ride.extra_request}}</li>

            {%if ride.ride_status == "CONFIRMED"%}
            <li>Driver: {{ride.driver.username}}</li>
            <li>vehicle type: {{ride.driver.vehicle_type}}</li>
            <li>license_plate_number: {{ride.driver.license_num}}</li>
            <li>max_number_passengers: {{ride.driver.max_passenger}}</li>
            {%endif%}

        </ul>
    </div>
      <p><a href="{% url 'base:index' user.id %}" class="btn btn-custom">Return</a>
      </p>
	
</div>
</div>
    </body>
</html>