<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ride Details</title>
    </head>
    <body>
        <h1>Details for ride: {{ride.id}}</h1>

        {% if messages %}
        {% for message in messages %}
            <div id="messages" class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <ul>
            {% comment %} <li>First Name:{{driver.user.first_name}} </li>
            <li>Last Name: {{driver.user.last_name}} </li> {% endcomment %}
            <li>Owner: {{ride.owner.username}}</li>
            <li>Destination: {{ride.destination}}</li>
            <li>Arrival Time: {{ride.arrival_time}}</li>
            <li>Status: {{ride.ride_status}}</li>
            <li>Is Shared: {{ride.shared}}</li>
            {%if ride.shared%}
            <li>Number of All Passengers: {{ride.ride_group.total_group_num}}</li>
            {% comment %} show all the sharers with their group numbers followed {% endcomment %}
            <li>Owner Group: {{ride.owner_passenger_num}} people</li>
            {% for rec in records %}
            <li>Sharer Group: {{rec.sharer}} with {{rec.share_num}} people</li>
            {% endfor %}
            {%else%}
            <li>Number of Passengers: {{ride.owner_passenger_num}}</li>
            {%endif%}

            <li>Extra Request: {{ride.extra_request}}</li>

            {%if ride.ride_status == "CONFIRMED"%}
            <li>Driver: {{ride.driver.username}}</li>
            <li>vehicle type: {{ride.driver.vehicle_type}}</li>
            <li>license_plate_number: {{ride.driver.license_num}}</li>
            <li>max_number_passengers: {{ride.driver.max_passenger}}</li>
            {%endif%}
            {% comment %} <li>User ID: {{driver.user.id}}</li> {% endcomment %}

        </ul>
{% comment %}         
        <h3>Driver Information: You are a driver</h3>

        <button type="button">
            <a 
            href="{% url 'base:edit_profile' cur_user.id%}"
            >Edit your Driver Information</a>
        </button>

	<button type="button">
            <a 
            href="{% url 'base:view_open_ride' cur_user.id %}"
            >Take An Order as Driver !</a>
	</button>
		
        <ul>
            <li>vehicle type: {{cur_user.vehicle_type}}</li>
            <li>license_plate_number: {{cur_user.license_num}}</li>
            <li>max_number_passengers: {{cur_user.max_passenger}}</li>
            {% comment %} <li>special_request: {{cur_user.special_request}}</li>
        </ul> {% endcomment %}
    <button type="button">
      <a href="{% url 'base:index' user.id %}">Return</a>
    </button>
	
    </body>
</html>