{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/view.css'%}" rel="stylesheet">
       <title>View All Your {{view_status}} Ride</title>
   </head>
  <body>
		<div class="background">
			<div class="overlay box">
    <h1 class="text-white">These Are {{ride_status}} Rides That You {{view_status}}</h1>
		{% if messages %}
		{% for message in messages %}
				<div id="messages" class="alert alert-info">{{ message }}</div>
		{% endfor %}
		{% endif %}

     {% for ride in all_rec %}
		 <div class="form-group">
     <table style="width:100%" class="table table-custom">
       <tr>
	 <th>Owner Name</th>
	 <th>Email</th>
	 <th>Destination</th>
	 <th>Arrival Time</th>
	 <th>Owner Party Passengers</th>
	 {%if ride.shared%}<th>Total Passengers</th>{%endif%}
	 <th>Shared or Not</th>
	 <th>Special Requests</th>
	 <th>Ride Status</th>

	 {% if ride.ride_status != 'OPEN' %}
   <th>Driver</th>
	 <th>Vehcile Type</th>
	 <th>License Plate</th>
	 {% endif %}
       </tr>
       <tr>
	 <td>{{ride.owner.username}}</td>
	 <td>{{ride.owner.email}}</td>
	 <td>{{ride.destination}}</td>
	 <td>{{ride.arrival_time}}</td>
	 <td>{{ride.owner_passenger_num}}</td>
	 {% if ride.shared %} <td>{{ride.ride_group.total_group_num}}</td> {% endif %}
	 <td>{{ride.shared}}</td>
	 <td>{{ride.extra_request}}</td>
	 <td>{{ride.ride_status}}</td>
	 {% if ride.ride_status != 'OPEN' %}
   <td>{{ride.driver.username}}</td>
	 <td>{{ride.driver.vehicle_type}}</td>
	 <td>{{ride.driver.plate_num}}</td>
	 {% endif %}
       </tr>
     </table>
     {% if ride.ride_status == 'OPEN' and view_status == 'owned'%}
     <a href="{% url 'base:cancel_ride' id=user.id ride_id=ride.id %}"  class="text-white">Cancel<a>
     
     <a 
      href="{% url 'base:edit_my_ride' id=user.id ride_id=ride.id %}"  class="text-white">Edit<a>
     {% endif %}

		 {% if ride.ride_status == 'OPEN' and view_status == 'joined'%}
     <a href="{% url 'base:quit_ride' id=user.id ride_id=ride.id%}"  class="text-white">Quit<a>
     {% endif %}

		 {% if view_status == 'confirmed'%}
		 <a href="{% url 'base:complete_ride' id=user.id ride_id=ride.id %}"  class="text-white">Complete<a>
		 {% endif %}

		 <a href="{% url 'base:view_ride_detail' id=user.id ride_id=ride.id %}"  class="text-white">Details<a>
			</div>
	 {% endfor %}

{% if view_status != "confirmed" and view_status != "completed" %}
       <form method = "post" action="">
	 {% csrf_token %}
	 <select name = "filter_status">
	   <option value="ALL" {% if ride_status == "ALL" %}selected{% endif %}>All</option>
	   <option value="CONFIRMED" {% if ride_status == "CONFIRMED" %}selected{% endif %}>Confirmed</option>
	   <option value="OPEN" {% if ride_status == "OPEN" %}selected{% endif %}>Open</option>
     <option value="CANCELLED" {% if ride_status == "CANCELLED" %}selected{% endif %}>Cancelled</option>
     <option value="COMPLETED" {% if ride_status == "COMPLETED" %}selected{% endif %}>Completed</option>
	 </select>
	 <input type = "submit" value="Update View" class="btn btn-custom">
	 </form>
{% endif %}


<a href="{% url 'base:index' user.id %}" class="text-white">Return to Index</a>
 
</div>
</div>
   </body>
</html>