.box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 8px gray;
  width: auto;
  margin-top: 2%;
}
.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-custom {
  width: 200px;
  height: auto;
  margin-top: 20px;
  background-color: white;
  color: rgb(41, 89, 161);
  border: 2px solid white;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../static/image/main_background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Black with a bit of transparency */
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.title {
  font-size: 3em;
  margin-bottom: 20px;
}
.btn-custom:hover {
  background-color: #2c83a0;
}
.form-group {
  margin-bottom: 15px;
}

.table-custom {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd; /* 更细致的边框 */
}

.table-custom th, .table-custom td {
  text-align: left;
  padding: 8px; /* 统一的单元格内边距 */
}

.table-custom tr:nth-child(even){background-color: #f2f2f201}

.table-custom th {
  background-color: #0b79a0;
  color: white;
}

.table-custom td {
  background-color: #0b78a000;
  color: white;
}

.btn-link-custom {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  margin: 5px; /* 为按钮添加间距 */
}

.btn-link-custom:hover {
  background-color: #0056b3;
  color: white;
  text-decoration: none;
}
